/* for middle devices */
@media only screen and (max-width: 992px) {
   .container-hero {
      width: 80%;
   }

   /* .featured-cart-container {
      gap: 50px;
   } */

   .featured-cart-container .featured-cart {
      width: 40%;
   }

   .why-choose-cart {
      width: 40%;
   }
}

/* for mobile devices */
@media only screen and (max-width: 768px) {
   .nav-container {
      flex-direction: column;
      align-items: start;
      gap: 20px;
   }

   .mob {
      /* border-bottom: 1px solid #ede4e4; */

      width: 100%;
      /* padding-bottom: 12px; */
   }

   .navigation {
      display: none;
   }

   .navigation ul {
      flex-direction: column;
   }

   .hamberger {
      display: block;
   }

   .container-hero h1 {
      font-size: 32px;
   }

   .container-hero p {
      font-size: 18px;
      line-height: 28px;
   }

   .featured-cart-container .featured-cart {
      width: 60%;

   }

   .why-choose-cart {
      width: 60%;
   }
}

@media only screen and (max-width: 576px) {
   .hero {
      padding: 30px 0;
   }

   .container-hero {
      gap: 12px;
   }

   .container-hero h1 {
      font-size: 28px;
   }

   .container-featured-plans>h1,
   .container-why-choose>h1 {
      font-size: 27px;
   }

   .container-featured-plans>p,
   .container-why-choose>p {
      margin: 0;
      font-size: 14px;
      line-height: 26px;
      margin-top: 10px;
   }

   .featured-plans {
      padding: 32px;
   }
   .featured-cart-container{
      padding: 22px;
   }

   .featured-cart-container .featured-cart {
      width: 100%;
   }

   .featured-cart-pkr {
      font-size: 20px;
   }

   .featured-cart-title {
      padding: 10px 22px;
   }

   .featured-cart-body {
      min-height: auto;
   }

   .featured-cart-body ul {
      padding-bottom: 15px;
   }

   .view-all-plans {
      padding-top: 32px;
   }

   .why-choose {
      padding: 22px;
   }

   .why-choose-cart {
      width: 100%;
   }

   .container-ready>h1 {
      font-size: 30px;
      line-height: 42px;
   }

   .container-ready>p {
      line-height: 32px;
   }

   .container-ready .ready-btn {
      flex-direction: column;
   }

   .insurance-plans {
      padding: 32px 10PX;
   }

   .container-insurance-plans>h1 {
      font-size: 36px;
      padding-bottom: 16px;
   }

   .container-insurance-plans>p {
      padding: 0 22px 0 22px;
      line-height: 32px;
   }
   .select-company-cart {
    width: 140px;
}
.row-available-plan {
    padding: 35px 25px 0 25px;
}
.insurance-plans-btn {
   padding: 35px 0;
}
   .footer-f-row>div,
   .footer-f-row>div:first-child {
      width: 100%;
   }

   .footer-f-row div h2 {
      padding-bottom: 12px;
   }

   .footer-f-row div ul li {
      padding-bottom: 6px;
   }
}

/* 03001547899 */