 * {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     color: black;
 }

 /* global classes here */
 .text-center {
     text-align: center;
 }

 .bg {
     background-color: #f9fafb;
 }

 .w {
     max-width: 1400px;
     margin: auto;
 }

 ul {
     list-style: none;
 }

 button {
     cursor: pointer;
 }

 /* navbar start here */

 nav {
     width: 100%;
     background-color: #fff;
     box-shadow: -9px -3px 11px 0 rgba(0, 0, 0, 0.2);
     padding: 22px 0;
 }

 .nav-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 90%;
 }

 .mob {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .mob i {
     font-size: 28px;
 }

 .hamberger {
     display: none;
     cursor: pointer;
 }

 .logo {
     display: flex;
     cursor: pointer;
     align-items: center;
     gap: 6px;
 }

 .logo span {
     font-size: 20px;
     font-weight: 600;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }


 .navigation ul {
     display: flex;
     gap: 32px;
     list-style-type: none;
 }

 .navigation li {
     position: relative;
 }

 .navigation li a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 400;
 }

 .navigation li a:hover {
     color: #1e40af;
 }

 .navigation ul li a::after {
     position: absolute;
     bottom: -12px;
     width: 0%;
     content: "";
     display: block;
     height: 4px;
     background-color: #1e40af;
     transition: 0.3s;
 }

 .navigation ul li a:hover::after {
     width: 100%;
 }

 /* navbar end here */

 /* hero section start here */
 .hero {
     /* height: 500px; */
     width: 100%;
     display: flex;
     padding: 62px 0;
     background-color: #dfeffe;
 }

 .container-hero {
     width: 58%;
     min-height: 40%;
     display: flex;
     flex-direction: column;
     gap: 22px;
     align-items: center;
     justify-content: space-around;
 }

 .container-hero h1 {
     font-size: 60px;
     font-weight: 500;
 }

 .container-hero p {
     font-size: 20px;
     /* margin-bottom: 32px; */
     color: #46576a;
 }

 .container-hero button {
     background-color: #1e40af;
     padding: 14px 16px;
     border-radius: 8px;
     color: #fff;
     font-size: 20px;
     border: none;
 }

 .container-hero button i {
     color: #fff;
     font-weight: 600;
     margin-left: 5px;
 }

 .container-hero button:hover i {
     transform: translateX(4px);
     transition: 0.3s;

 }

 /* hero section end here */

 /* featured section start here */
 .featured-plans {
     padding: 62px 0;
     /* #set mobile screen */
 }

 .container-featured-plans h1 {
     font-weight: 400;
 }

 .container-featured-plans>p {
     font-size: 18px;
     font-weight: 200;
     padding: 22px 0;
     color: #46576a;
 }

 .featured-cart-container {
     padding-top: 30px;
     display: flex;
     flex-wrap: wrap;
     gap: 32px;
     justify-content: center;
 }

 .featured-cart-container .featured-cart {
     position: relative;
     width: 30%;
     border: 1px solid rgb(229, 223, 223);
     border-radius: 16px;
     padding: 12px 0;
 }

 .featured-cart-header {
     padding: 12px 22px;
     display: flex;
     gap: 6px;
     align-items: end;
     flex-direction: column;
 }

 .featured-cart-cmp-name {
     position: absolute;
     top: 30px;
     left: 25px;
     background-color: #edf6ff;
     color: #269de7;
     border-radius: 12px;
     font-size: 12px;
     padding: 5px 12px;
 }

 .str-from,
 .per-year {
     font-size: 14px;
     color: #64748b;
 }

 .per-year {
     font-size: 12px;
 }

 .featured-cart-pkr {
     color: #1E40AF;
     font-weight: 400;
 }

 .featured-cart-title {
     padding: 32px 22px;
 }

 .featured-cart-title h2 {
     font-size: 20px;
     font-weight: 400;
 }

 .featured-cart-body {
     padding: 0 22px;
     min-height: 220px;
 }

 .featured-cart-body>p {
     font-size: 14px;
     max-width: 90%;
     line-height: 22px;
     color: #64748b;
 }

 .featured-cart-list-heading {
     font-size: 14px;
     font-weight: 400;
     padding: 16px 0;
 }

 .featured-cart-body ul {
     padding-bottom: 32px;
 }

 .featured-cart-body ul li {
     color: #64748b;
     font-size: 14px;
     padding: 6px 5px;
 }

 .featured-cart-body ul li::before {
     content: "✓";
     margin-right: 12px;
 }

 .featured-cart-footer {
     padding: 23px 18px;
     border-top: 1px solid rgb(229, 223, 223);
 }

/* #cart-footer-count{
    background-color: red;
} */
 .featured-cart-footer button {
     background-color: #0041ae;
     color: #fff;
     padding: 12px 22px;
     font-weight: 600;
     font-size: 14px;
     width: 100%;
     border-radius: 8px;
     border: none;
 }

 .featured-cart-footer i {
     color: #fff;
     transition: 0.3s;
 }

 .featured-cart-footer button:hover {
     background-color: #0e4ebd;
 }

 .featured-cart-footer button:hover i {
     transform: translateX(4px);
 }

 .view-all-plans {
     padding-top: 60px;
 }

 .view-all-plans button {
     padding: 12px 28px;
     font-weight: bold;
     background-color: #fff;
     color: #171717;
     border: 1px solid rgb(229, 223, 223);
     border-radius: 8px;
     vertical-align: middle;
 }

 .view-all-plans button:hover {
     background-color: #0093e8;
     color: #fff
 }

 .view-all-plans i {
     transform: translateX(4px);
     font-size: 14px;
     vertical-align: middle;
 }

 .view-all-plans button:hover i {
     color: #fff
 }


 /* featured section end here */

 /* why choose section start here */
 .why-choose {
     background-color: #f9fafb;
     padding: 42px 22px;
     padding-bottom: 60px;
 }

 .container-why-choose>h1 {
     font-weight: 400;
     padding: 12px 0;
 }

 .container-why-choose>p {
     padding-bottom: 22px;
     font-size: 16px;
     color: #64748b;
 }

 .why-choose-cart-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-top: 12px;
     gap: 22px;
 }

 .why-choose-cart {
     width: 28%;
     padding: 30px 22px;
     background-color: #ffffff;
     border-radius: 12px;
     border: 1px solid #f5efef;
 }

 .why-choose-cart .icon {
     display: inline-block;
     padding: 16px;
     border-radius: 12px;
     background-color: #d6ebff;
 }

 .why-choose-cart .icon i {
     color: #0041ae;
     font-size: 30px;
 }

 .why-choose-cart h2 {
     font-size: 20px;
     font-weight: 400;
     padding-top: 36px;
     padding-bottom: 12px;
 }

 .why-choose-cart p {
     font-size: 16px;
     color: #64748b;
 }

 /* why choose section end here */

 /* ready to protect section start here */
 .ready {
     background-color: #0041ae;
     padding: 62px 32px;
 }

 .container-ready>h1 {
     color: #ffffff;
     font-size: 36px;
     font-weight: 500;
     padding-bottom: 18px;
 }

 .container-ready>p {
     color: #ffffff;
     font-size: 18px;
     padding-bottom: 32px;
 }

 .container-ready .ready-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 14px;
 }

 .container-ready .ready-btn button {
     padding: 0px 24px;
     border-radius: 6px;
     border: 1px solid rgb(229, 223, 223);
     font-size: 14px;
     font-weight: 400;
     color: #0041ae;
     width: 192px;
     height: 40px;
 }

 .container-ready .ready-btn button:hover {
     background-color: #0041ae;
     color: #ffffff;
 }

 /* ready to protect section end here */

 /* insurance plans section start here */
 .insurance-plans {
     padding: 62px 0;
 }

 .container-insurance-plans>h1 {
     font-size: 48px;
     font-weight: 500;
     padding-bottom: 16px;
 }

 .container-insurance-plans>p {
     padding-bottom: 25px;
     color: rgba(0, 0, 0, 0.6);
     font-size: 18px;
 }

 .insurance-plans-btn {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 18px;
     padding-bottom: 15px;
 }

 .insurance-plans-btn button {
     padding: 16px 28px;
     border: 1px solid rgb(229, 223, 223);
     background-color: #ffffff;
     font-size: 16px;
     border-radius: 8px;
 }

 /* I'll fix it from js  */
 .insurance-plans-btn button:first-child {
     background-color: #0041ae;
     color: #ffffff;
 }

 .container-insurance-plans>h2 {
     font-size: 24px;
     font-weight: 400;
     padding: 22px 0;
 }

 /* insurance plans section start here */

 /* select company section start here */
 .select-company {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 22px;
     padding: 22px 10px;
 }

 .select-company-cart {
     width: 18%;
     width: 240px;
     padding: 32px 0;
     border-radius: 12px;
     border: 1px solid rgb(229, 223, 223);
     background-color: #ffffff;
 }

 .select-company-cart .cm-logo {
     border-radius: 50%;
     color: #465565;
     background-color: #f3f4f6;
     padding: 18px 25px;
     text-align: center;
     text-align: center;
     vertical-align: middle;
     display: inline-block;
     font-weight: 600;
     font-size: 24px;
 }

 .select-company-cart .sl {
     padding: 18px 16px;
 }

 .select-company-cart>h3 {
     font-size: 14px;
     padding-top: 14px;
     font-weight: 400;
 }

 .row-available-plan {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 32px 45px 0 45px;
 }

 .row-available-plan>h2 {
     font-size: 24px;
     font-weight: 500;
 }

 .row-available-plan>div {
     font-size: 16px;
     color: rgba(0, 0, 0, 0.7);
 }

 /* select company section end here */

 /* footer section start here */
 footer {
     padding: 42px 32px;
     background-color: #0d1828;
 }

 .footer-f-row {
     display: flex;
     justify-content: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 20px;


     padding-bottom: 32px;
 }

 .footer-f-row>div {
     min-height: 120px;
     width: 25%;
 }

 .footer-f-row>div:first-child {
     width: 40%;
 }

 .footer-f-row div h2 {
     font-size: 18px;
     color: #fff;
     font-weight: 400;
     padding-bottom: 38px;
 }

 .footer-f-row div ul li {
     font-size: 14px;
     color: gray;
     color: #9e9797;
     padding-bottom: 12px;

 }

 .footer-f-row div ul li i {
     color: #9e9797;
     padding-right: 6px;
 }

 .footer-f-row div p {
     color: #9e9797;
     font-size: 14px;
     line-height: 22px;
     padding: 22px 0;

 }

 .footer-f-row .logo span {
     color: #fff;
 }

 .footer-copy-right {
     padding-top: 32px;
     border-top: 1px solid rgb(85, 78, 78);
 }

 .footer-copy-right p {
     color: #9e9797;
     font-size: 14px;
 }

 /* footer section end here */